@font-face {
  font-family: "iconfont"; /* Project id 3606701 */
  src: url('iconfont.woff2?t=1663492281722') format('woff2'),
       url('iconfont.woff?t=1663492281722') format('woff'),
       url('iconfont.ttf?t=1663492281722') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-xiangshang4:before {
  content: "\e795";
}

.i-xiangxia4:before {
  content: "\e796";
}

.i-fuzhi:before {
  content: "\e618";
}

.i-changyonggoupiaorenshanchu:before {
  content: "\e645";
}

.i-jiahao:before {
  content: "\e616";
}

.i-recover:before {
  content: "\e60d";
}

.i-juzhongduiqi:before {
  content: "\ec80";
}

.i-youduiqi:before {
  content: "\ec82";
}

.i-zuoduiqi:before {
  content: "\ec86";
}

.i-zuoyouduiqi:before {
  content: "\ec87";
}

